/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
  ========================================
  Custom styles
#352D2F #605A5C #F63C3C #726D6E #30282A
  ========================================
*/

body {
    background: #605A5C;
    color: #fff;
    font: 300 16px/22px "Lato", sans-serif;
}


/*links*/


/*
  ========================================
  Links
  ========================================
*/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}


/**/

#navbar {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    font-weight: 700;
    top: 0px;
    background-color: #362d30;
}

#navlinks {
    position: absolute;
    top: 0;
    color: #fff;
    height: 70px;
    width: 99%;
    font-weight: 700;
    top: 30px;
}

#navlinks {
    display: flex;
    align-content: center;
    justify-content: center;
}

.social {
    float: right;
    clear: both;
    right: 10px;
}

.social i {
    padding-left: 50px;
    padding-top: 12px;
}

#header {
    height: 10px;
    background-color: transparent;
    height: 500px;
    font-weight: 400;
    margin-top: 70px;
    width: 100%;
    background-color: #362d30;
}

#header .title {
    font-size: 50px;
    color: #fff;
    display: block;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    line-height: 2.7;
     letter-spacing: 5px;
}

#header .subtitle {
    font-size: 25px;
    line-height: 1.8;
    color: #fff;
    display: block;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: normal;
}

#header .exploremore {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    width: 240px;
    margin: 10px auto;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}

#highlights {
    height: 600px;
    background-color: #F63C3C;
}

#highlights .desc {
    height: 250px;
    background-color: #fff;
    width: 50%;
    color: black;
    align-content: center;
    justify-content: center;
    text-align: center;
    line-height: 1.9;
    font-weight: bolder;
}
#highlights .desc h1{
    font-weight: bolder;
    font-size: 50px;
    color: #000;
    line-height: 1.2;
    letter-spacing: 2.3px;
    text-transform: uppercase;


}
#highlights .descblank {
    height: 200px;
    background-color: #000;
    width: 50%;
    align-content: center;
    justify-content: center;
}

#highlights .highdiscovermore {
    height: 200px;
    background-color: #fff;
    width: 50%;
    color: #424242;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
}

#highlights .highdiscovermore .exploremore {
    text-align: center;
    background-color: #F63C3C;
    padding: 10px;
    width: 200px;
    margin: auto auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}

#highlights .featured {
    float: right;
    clear: both;
    margin-left: 50%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 90px;
}
#highlights .featured p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 2.2;
    color: #e4e4e4;

}

#highlights .featured .featuredin h3{
    color: white;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.9;
    left: 25%;
}

#history {
    background: #fff;
    height: 600px;
    padding-top: 15px;
    line-height: 1.8;;
}

#history .firsthistory {
    width: 50%;
    color: #000;
    padding: 10px;
}

#history .firstimage {
    float: right;
    clear: both;
    top: 0;
    width: 50%;
    height: 100%;
    display: block;
}
.firsthistory h3{
 font-weight: bolder;
 line-height: 2.1;
 font-size: 40px;
 color: #000;
 letter-spacing: 6.5px;
 text-transform: uppercase;
 text-align: center;

}
.exploremorehistory{
    text-align: center;
    vertical-align: middle;
    background-color: #F63C3C;
    padding: 10px;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin-top:5%;
        margin-left:5%;

}
.counters {
    background-color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: #F63C3C;
    font-weight: 900;
    font-size: 30px;
    width: auto;
    padding-top: 90px;
    margin-top: -5px;
}

#counterdiv {
    width: 20%;
    height: 300px;
    font-size: 25px;
    color: red;
    line-height: 1.1;
    display: inline-block;
}

.counimg {
    margin: 0px 0px 15px 1px;
}

#services {
    background: #eaeaea;
    height: 600px;
    vertical-align: middle;
    text-align: center;
    /*
    align-content: center;
*/
    justify-content: center;
    padding-top: 40px;
}

#servicetitle {
    color: black;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    margin-left: 250px;
    text-transform: uppercase;
}

#counterservices {
    width: 20%;
    height: 200px;
    font-size: 11px;
    color: black;
    display: inline-block;
    margin-top: 40px;
}

#counterjournal {
    width: 25%;
    height: 460px;
    font-size: 11px;
    color: black;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    background-color: #fff;
}

.jourimg {
    width: 100%;
    height: 180px;
    background-color: black;
    margin: auto;
}

#counterservices h3 {
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    color: #000;
}

#calltoaction {
    background-color: #605A5C;
    height: 200px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#calltoaction h1 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    font-weight: bolder;
    text-transform: capitalize;
}

#calltoaction p {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
    padding-bottom: 50px
}

#calltoaction span {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-bottom: 5px solid white;
}

.journal {
    height: 600px;
    background: #eaeaea;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.journaltitle {}

.brandlogos {
    margin-right: 39px;
    margin-top: 35px;
    margin-left: 20px;
}

#closing {
    background-color: #605A5C;
    height: 400px;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: auto;
    padding: 20px;
}

#closing p {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    margin: 20px;
    line-height: 1.9;
}

#closing span {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin: 20px;
    line-height: 1.9;
    margin: 15px;
    padding-bottom: 25px;
}

img #clo {
    float: right;
    margin: 0px 0px 15px 35px;
}

#connectedsection {
    background-color: #eaeaea;
    height: 400px;
}

#footer {
    background-color: #fff;
    height: 100px;
}

#counterjournal h3 {
    color: red;
    background-color: #fff;
}

#counterjournal h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    background-color: #fff;
}

.exploremoreb {
    text-transform: uppercase;
    padding: 10px;
    width: 100px;
    margin: auto auto;
    color: #605A5C;
    border: 2px solid #000;
    padding-top: 7px;
}

.showmore {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    color: #000;
    width: 200px;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#connectedsection {
    height: 500px;
    background: #eaeaea;
    background-color: white;
    overflow: hidden;
    margin-left: 0%
}

#connect {
    width: 29%;
    height: 210px;
    font-size: 20px;
    color: #f4f4f4;
    display: inline;
    /*background-color: #605A5C;*/
    float: right;
    text-align: center;
    background-color:
}
#connecttwo{
    width: 40%;
    height: 210px;
    font-size: 20px;
    color: black;
    display: inline;
    /*background-color: #352D2F;*/
    float: right;
    text-align: center;
    vertical-align: middle;



}
#connect i{

    color: #fff;
    font-size: 50px;
    padding: 5%;
}
.emailadd{
height: 35px;
width:210px;
margin-left: -10%;


}
.buttonsignup{

    background-color: #F63C3C;
    width: 180px;
    padding: 10px;
    margin-top: 27px;
    height: 35px;
    margin-left: -5px;


}
.connecttwo p{




}
.views{
width: 500px;

}
